:root {
    --dark-blue: #0A3871;

    --clr-primary: #4CAF50;
    --clr-primary-light: #C8E6C9;
    --clr-primary-dart: #388E3C;
    --clr-accent: #7C4DFF;
    --clr-accent-secondary: #CFBDFF;
    --clr-primary-text: #212121;
    --clr-secondary-text: #757575;
    --clr-white: #FFFFFF;
    --clr-backgroud: #F3F3F3;
    --clr-gray-hover:#f4f4f4;

    --max-height-card: 364px;
    --max-width-card: 224px;
    --default-margin: 16px;
    --default-padding: 12px;

    --font-size-small: 0.875em;

    /* swipper Navigation CSS Custom Properties */
    --swiper-navigation-color: var(--clr-primary);
    --swiper-navigation-size: 22px;
    --swiper-theme-color: var(--clr-accent) !important;
}


.background-color {
    background-color: var(--clr-backgroud);
}

/* Product card */
.item-link {
    cursor: pointer;
    height: 100%;
    /*position: absolute;*/ /* Esto me dio problemas por lo que lo voy a quitar, parece que funciona */
    /*El problema que me dio es que amontonaba las cartas y solo se veia una linea.*/
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

.img-card-container{
    /*Me gusto esto*/
    max-width: 194px;
}

/* Links */
.link-hover:hover > p{
    color: var(--clr-primary) !important;
}

.card-link-hover:hover p, .card-link-hover:hover h5{
    /*Selector de desendiente (cualquiera que este debajo de el)*/
    color: var(--clr-primary-dart) ;
}

.card-link-hover:hover small{
    color: var(--clr-primary) !important;
}

.card-row:hover {
    
    background-color: rgba(255, 255, 255, 1);
}

.card-row {
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(5px) !important;
}