// custom variables
/// Colors
$primary: #4CAF50;
$secondary: #7C4DFF;
$light: #C8E6C9;
$dark: #212121;
$gray-hover:#f4f4f4;

/// cards
$card-border-radius: 0;

///Utility API
@import "../node_modules/bootstrap/scss/bootstrap-utilities";

$utilities: (
    "card-shadow": (
        property: box-shadow,
        class: "card-shadow",
        state: hover,
        values: (
            null: $box-shadow,
            sm: $box-shadow-sm,
            lg: $box-shadow-lg,
            none: none,
        )),
);

// import boostrap
@import '../node_modules/bootstrap/scss/bootstrap';